#joy1Div {

    margin-left: 0; 
    margin-right: auto;
}
#joy2Div {

    margin-left: auto; 
    margin-right: 0;
}

.joystick-control{
    width: 200px;
    height: 200px;

    margin:  20px;

    align-items: center;
    justify-items: center;
}
.joystick-container{
    display:flex;
    align-items: center;
    justify-items: center;

    /* for debug */
    /* border: 10px solid ; */
}

.joystick-output, .joystick-input{
    margin: 20px;
    align-items: center;
    justify-items: center;
    /* for debug */
    border: 3px solid ;

 
}
.joystick-output-column input,.joystick-input-column input{
    width: 50px;
    margin: 10px;
}


.joystick-output-column, .joystick-input-column{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;

    /* for debug */
    /* border: 10px solid ; */
}
.connection-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin-top: 10px; /* Space above the connection controls */
    flex: 1; /* Allow connection container to grow */
}
#ledIndicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px; /* Space between button and LED */
    transition: background-color 0.3s ease;
}

.led-on {
    background-color: green; /* Color when connected */
}

.led-off {
    background-color: red; /* Color when disconnected */
}

.compass{
    width: 150px;
    height: 150px;
    margin: 10px;
}
.compass-arrow{
    transform-origin: 50% 50%;
    transform: rotate(var(--rotation-angle, -45deg));
}
.gauge-container{
    width: 150px;
    height: 150px;
    /* display: flex;  */
    justify-content: center; 
    align-items: center; 
}
.gauge-pointer-yaw {
    transform-origin: 50% 50%; /* Center the rotation */
    transform: rotate(var(--pointer-rotation-yaw,0deg)); /* Set default angle */
}
.gauge-pointer-heave {
    transform-origin: 50% 50%; /* Center the rotation */
    transform: rotate(var(--pointer-rotation-heave,0deg)); /* Set default angle */
}
.gauge-pointer-surge {
    transform-origin: 50% 50%; /* Center the rotation */
    transform: rotate(var(--pointer-rotation-surge,0deg)); /* Set default angle */
}
.gauge-pointer-sway {
    transform-origin: 50% 50%; /* Center the rotation */
    transform: rotate(var(--pointer-rotation-sway,0deg)); /* Set default angle */
}
/* Responsive styles for larger screens */
@media (min-width: 1024px) {
    .joystick-output-column input,.joystick-input-column input{
        width: 100px;
    }
    #joy1Div{
        width: 300px;
        height: 300px;
        margin-left: 100px; 
    }
    #joy2Div{
        width: 300px;
        height: 300px;
        margin-right: 100px; 
    }
    .compass{
        width: 200px;
        height: 200px;
    }
    .gauge-container{
        width: 200px;
        height: 200px;
    }
}